# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files.
*.txt  text

# Set languages for linguist.
*.asc  linguist-language=Public Key
*.diff linguist-language=Diff

# Denote all files that are truly binary and should not be modified.
*.gz  binary
*.sig binary
*.tgz binary